.btn {
  padding: 8px 12px;
  outline: none;
  cursor: pointer;
  color: var(--tg-theme-text-color);
  border-radius: 12px;
  font-size: 12px;

  &__primary {
    background-color: var(--tg-theme-button-color);
    border: none;
  }
  &__bgempty {
    border: var(--tg-theme-button-color) 1px solid;
    background-color: transparent;
  }
}
