.form {
  h3 {
    font-size: 24px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 20px;
  input {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    color: var(--tg-theme-button-text-color);
  }
}

.labels {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
