.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__btns {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}

.username {
  margin-left: auto;
}
