.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  &__img {
    width: 100%;
    background-color: transparent;
    height: 100px;
  }
  &__weight {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin: 7px 0;
  }
  &__button {
    &:active {
      position: relative;
      top: 1px;
    }
  }

  &__description {
    font-size: 18px;
  }
  &__title {
    font-size: 32px;
  }
  &__price {
    font-size: 12px;
  }
  &__btn {
    width: 100%;
  }
}
